@import 'fonts-include/inter';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	font-family: 'Inter';
	min-height: 100vh;
	font-size: 16px;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main{
	flex-grow: 1;
	
}

a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

input, textarea{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}

ul{
	list-style: none;
}


.section{
	padding: 0 1.25rem;

    @media (min-width: 1025px){
        padding: 0 calc(1.25rem + ((1vw - 10.24px) * 26.9097));
    }

	@media (min-width: 1920px){
        padding: 0px 11.98vw;;
    }

	@media (max-width: 700px){
		padding: 0 1rem;
	}
}

.section__inner{
	width: 100%;
	
}


.transparent-btn{
	padding: 12px 24px;
	font-size: 14px;
	border: 1px solid rgba(17, 81, 211, 0.2);
	border-radius: 100px;
	font-weight: 700;
	color: #214BCE;
	text-transform: uppercase;
	transition: 300ms;

	
	
	&:hover{
		border-color: #214BCE;
	}

	&:active{
		background-color: rgba(17, 81, 211, 0.2);
		border-color: transparent;
	}

	&:disabled{
		color: #CBD4E0;
		border-color: #CBD4E0;
		cursor: initial;
	}

	@media(min-width: 1920px){
		padding: 0.63vw 1.25vw;
		font-size: 0.73vw;
		border-width: 0.05vw;
		border-radius: 5.21vw;
	}

	@media (max-width: 700px){
		padding: .5rem .875rem;
		font-size: .9375rem;
	}
	@media (max-width: 480px){
		font-size: 13px;
	}
}

.transparent-btn.small{
	padding: .625rem .625rem;
	letter-spacing: 0px;
	
	@media(min-width: 1920px){
		padding: 0.42vw 0.73vw;
		font-size: 0.73vw;
		border-width: 0.05vw;
		border-radius: 5.21vw;
	}
}

.no-scroll{
	overflow: hidden
}


.advert{
	display: block;
	width: 100%;

	img{
		width: 100%;
		max-width: 100%;
	}

	a{
		display: block;
	}
}


.advert-1{
	width: 100%;
	height: 120px;
	background-color: #999;

	@media (max-width: 768px){
		height: 70px;
	}
}

.advert-2{
	
	@media (max-width: 1024px){
		display: none;
		
	}
}
.advert-2.mob{
	display: none;

	@media (max-width: 1024px){
		display: block;
	}

	@media (max-width: 680px){
		
	}
}

.advert-3{
	width: 100%;
	height: 120px;
	background-color: #999;

	@media (max-width: 800px){
		height: 100px;
		margin-top: 20px;
	}
}

.s-adever-4{
	margin-top: 0px;

	@media (max-width: 1024px){
		margin-top: 40px;
	}
}

.advert-4{
	width: 100%;
	height: 120px;
	background-color: #999;

	@media (max-width: 768px){
		height: 70px;
	}
}

.advert-5{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	img{
		max-width: 100%;
	}
}
.advert-6{
	width: 100%;
	height: 500px;
	background-color: #999;

	@media (max-width: 768px){
		height: 70px;
	}
}

.h1{	
	font-weight: 700;
	
	line-height: 124%;
	color: #FFFFFF;
	
	
	font-size: calc(1.125rem + ((1vw - 3.2px) * 1.25));
	
	@media (min-width: 1600px){
		font-size: 2.13vw;
	}


	
}

.h2{
	font-weight: 700;
	font-size: 22px;
	line-height: 130%;
	color: #FFFFFF;

	@media (max-width: 1024px){
		font-size: 18px;
	}

	@media (max-width: 700px){
		font-size: 16px;
	}

	@media (min-width: 1920px){
		font-size: 1.15vw;
	}
}

.h3{	
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;

	@media (max-width: 680px){
		font-size: 15px;
	}

	@media (min-width: 1920px){
		font-size: 0.83vw;
	}
}


.title-category{
	font-weight: 800;
	font-size: 18px;
	line-height: 110%;
	text-transform: uppercase;
	color: #00123E;

	@media (max-width: 1024px){
		font-size: 17px;
	}
	@media (max-width: 680px){
		font-size: 16px;
	}


	@media (min-width: 1920px){
		font-size: 0.94vw;
	}


}

.description{
	
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0.01rem;
	color: #9DB1D8;

	@media (min-width: 1920px){
		font-size: .63vw;
	}
}

.h4{
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: #00123E;
	@media (min-width: 1920px){
		font-size: .73vw;	
	}
}

.title-category{
	
	font-weight: 800;
	
	line-height: 110%;
	text-transform: uppercase;
	color: #00123E;


}


.text{
	
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #00123E;
	white-space: pre-line;

	@media (max-width: 480px){
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
	}
	@media (min-width: 1920px){
		font-size: .84vw;
	}
	
}

.padding-content{

	@media (min-width: 1025px){
		padding: 0 calc(0.0625rem + ((1vw - 10.25px) * 18.2609));;
	}
	@media (min-width: 1600px){
		padding: 0 6.625vw;
	}

}

.black{
	color: #000000;
}

.dark-blue{
	color: #00123E;
}

.t-center{
	text-align: center;
}

.hide-sm{
	@media (max-width: 1024px){
		display: none !important;
	}
}


.author-photo{
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #9DB1D8;
	margin-top: 20px;

	@media (max-width: 480px){
		font-size: 12px;
		margin-top: 10px;
	}
}


.text-main{
	
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #00123E;

	@media (max-width: 1024px){
		font-size: 18px;
	}
	@media (max-width: 480px){
		font-size: 16px;
	}


	@media (min-width: 1920px){
		font-size: 1.04vw;
	}
}


.text-info{	
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #66718B;
	@media (max-width: 480px){
		font-size: 12px;
	}
	@media (min-width: 1920px){
		font-size: .73vw;
	}
}
$gallery-gap: 20px;
.gallery{
	display: flex;
	flex-wrap: wrap;
	gap: $gallery-gap;

	@media (max-width: 640px){
		gap: 10px 16px;
	}
}

.gallery__img-sm{
	width: calc(33.3333333% - (20px * 0.66667));
	border-radius: 6px;
	object-fit: cover;
	object-position: center;

	@media (max-width: 640px){
		width: 100%;
	}
}

.gallery__img-md{
	width: calc(50% - (20px * .5));
	border-radius: 6px;
	object-fit: cover;
	object-position: center;

	@media (max-width: 640px){
		width: calc(50% - (16px * .5));
	}
}
.gallery__img-lg{
	width: 100%;
    max-width: 100%;
    border-radius: 6px;
}

.article-quote{
	background: #F3F8FB;
	border-radius: 6px;
	padding: 32px 106px 40px;
	position: relative;

	@media (max-width: 1024px){
		padding-right: 62px;
	}

	@media (max-width: 480px){
		padding: 40px 20px;
	}
}


.text-quotes{
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: #00123E;
	@media (max-width: 480px){
		font-size: 13px;
	}

	@media (min-width: 1920px){
		font-size: .84vw;
	}
}


.article-quote__icon{
	position: absolute;
	left: 24px;
	top: 32px;
	width: 50px;
	height: 50px;

	@media (max-width: 480px){
		left: 20px;
		top: 0;
		transform: translate(0, -40%);
	}
}

.swiper-slide.slide-square{
	
	border-radius: 6px;
	overflow: hidden;
	height: auto;

	

}
.slide-square__inner{
	position: relative;
	
	width: 100%;
	
	padding-bottom: 100%;
	position: relative;
	img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;	
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.slider-gallery-pagination{
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #9DB1D8;
	padding-top: 20px;

	@media (max-width: 480px){
		padding-top: 0px;
		text-align: right;
	}

}


.youtube-frame-container{
	padding-bottom: 56.25%;
	position: relative;

	iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}






















.tippy-box{
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 18, 62, 0.1);
	border-radius: 6px;
	
	//transform: translate(0, 5px);
    
    //min-width: 240px;

    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #EDEDED;;
        left: 20px;
        top: -8px;
        transform: rotate(45deg);
        border-right: none;
        border-bottom: none;
        background: #fff;
        z-index: 2;

        display: none;
		@media (min-width: 1920px){
			
		}
    }

	@media (min-width: 1920px){
		border-radius: 0.63vw;
	
			
			min-width: 12.50vw;
	}
}
div[data-tippy-root]{
    
}
.tippy-content{
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	color: rgba(18, 18, 18, 0.4);
	padding: 2px;
	padding: 8px 0px;
	@media (min-width: 1920px){
		font-size: 0.68vw;
		padding: .63vw 0;
	}
	a{
		path{
			transition: 300ms;
		}
	
		&:hover{
			path{
				fill: #00123E;
			}
		}
	}
	
}


.tippy-drop-menu{
    list-style: none;
	padding: 0 8px;

	@media (min-width: 1920px){
		padding: 0 0.42vw;
	}
    
}
.tippy-arrow{
    color: transparent;
    
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        border: 1px solid transparent;;
        
        transform: translateY(-50%) rotate(45deg);
        border-right: none;
        border-bottom: none;
        background: transparent;
        z-index: 2;
    }
    &::before{
        display: none;
    }
}
.tippy-drop-inner{
	display: flex;
	gap: 24px;
	align-items: center;
	padding: 0 20px;

	position: relative;
}


.link-was-copied{
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 10px;
	color: #00123E;
	transition: 300ms;
	left: 50%;
	transform: translate(-50%, 100%);
	opacity: 0;
}

.copy-link{
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 18, 62, 0.1);

	path{
		transition: 300ms;
	}

	&:hover{
		path{
			fill: #00123E;
		}
	}
}






.to-up{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 18, 62, 0.1);;
	transition: 300ms;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 100;

	display: none;
	transform: translate(0, 30px);
	animation: showToUpBtn 300ms forwards;
	@media (max-width: 680px){
		bottom: 82px;
		right: 16px;
	}
	path{
		transition: 300ms
	}

	&:hover{
		
		path{
			fill: #00123E;
		}
	}
}
.to-up.show{
	display: inline-block;
}

@keyframes showToUpBtn {
	to{
		transform: translate(0, 0);
	}
}




.modal-contacts{
    width: calc(100% - 30px);
    max-width: 400px;
    
    background-color: #fff;
    border-radius: 15px;


    padding: 50px 25px;

    position: relative;

    display: none;
}

.modal-contacts__close{
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    top: 15px;
    right: 15px;
    
    &::before, &::after{
		content: "";
		position: absolute;
		
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: 300ms;
		border-radius: 1px;
    }


    &::before{
        transform: rotate(-45deg);
    }

    &::after{
        transform: rotate(45deg);
    }

    &:hover{
        &::before, &::after{
            background-color: red;
        }
        
    }

}


.modal-contacts__block{
	margin-top: 32px;

	
}


.modal-link{
	width: auto;
	
	line-height: 1.5;
	color: #214BCE;
	transition: 300ms;
	font-weight: 500;

	&:hover{
		color: #00123E;
	}
}

.modal-contacts__subtitle{
	margin-bottom: 16px;
}

.modal-contacts__links-block{
	margin:  0 0 8px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap
}



@import 'units/components/header/header';
@import 'units/components/header/dmenu';
@import 'units/components/header/hamburger';
@import 'units/components/mob-menu/mob-menu';
@import 'units/components/footer/footer';
@import 'units/components/top-widget/top-widget';
@import 'units/components/hash-tags/hash-tags';
@import 'units/swiper/swiper';
@import 'units/components/lightning/lightning';
@import 'units/components/top-line-news/top-line-news';
@import 'units/components/news/main-news';
@import 'units/components/news/news-cats';
@import 'units/components/news/news';
@import 'units/components/news/breaking-news';
@import 'units/components/pagination/pagination';
@import 'units/components/contact-us/contact-us';
@import 'units/components/article-info/article-info';
@import 'units/components/other-news/other-news';

@import 'units/components/grid-news/block-news';

@import 'units/pages/news-list/news-list';
@import 'units/pages/news-page/news-article';



@import 'units/pages/search-list/search-list';
@import 'units/pages/privacy-politic/privacy-politic';
@import 'lightpick.scss';



@import 'units/easyModal/easyModal';





/*
@import 'vars';


@import 'units/hamburger/hamburger';

@import 'units/mob-menu/mob-menu';

@import 'units/modals/modals';

@import 'units/sliders/sliders';
*/

