<footer class="footer">
    <div class="footer__inner">
        <div class="footer__1st-col">
            <a href="#" class="footer__logo">
                <img src="assets/img/light-logo.svg" alt="">
            </a>

            <div class="footer__old-rating">
                <img src="assets/img/rating.svg" alt="">
            </div>
        </div>
        <div class="footer__2st-col">
                <div class="footer__contact">Редакция ИА «Амур.инфо»:
                    <a href="tel:+79145946625">+7 914 594-66-25</a>, <a href="tel:(4162)771128">(4162) 77-11-28</a> 
                    <a href="mailto:info@amur.info" class="mail-link">info@amur.info</a></div>
                <div class="footer__contact">Размещение рекламы:
                    <a href="tel:+74162222444">(4162) 222-444</a>, <a href="tel:+79145613373">+79145613373</a> 
                    <a href="mailto:reklama@amur.info" class="mail-link">reklama@amur.info</a></div>
                
        </div>
        
        <div class="footer__3st-col">
            <p class="footer__copyright">© 2002–2022, в новостной ленте используются материалы Информационного Агентства «Амур.инфо». Все права защищены.

                Свидетельство о регистрации СМИ ИА № ФС77-79702 от 18.12.2020 г., выдано Федеральной службой по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия.</p>
        </div>
        <div class="footer__4st-col">
            <a href="#">
                <img src="assets/img/statistics.svg" alt="">
            </a>
        </div>
    </div>
</footer>


<button class="to-up">
    <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.74117 0.282896L0.282555 7.74115C-0.0941849 8.11821 -0.0941849 8.72882 0.282555 9.10589C0.659622 9.48295 1.27088 9.48295 1.64762 9.10589L8.42382 2.33L15.2001 9.10589C15.5768 9.48295 16.1881 9.48295 16.5648 9.10589C16.7533 8.91735 16.8476 8.6706 16.8476 8.42352C16.8476 8.17643 16.7533 7.92968 16.5648 7.74115L9.10623 0.282896C8.72917 -0.0941729 8.11786 -0.0941729 7.74117 0.282896Z" fill="#214BCE"/>
    </svg>
        
</button>



<div class="modal-contacts">
    <div class="modal-contacts__close">
        
    </div>
    <h3 class="h2 dark-blue t-center">Связаться с нами</h3>

    <div class="modal-contacts__block">
        <p class="modal-contacts__subtitle h3 dark-blue ">Редакция ИА «Амур.инфо»:</p>
        <p class="text">Телефоны:</p>
        <div class="modal-contacts__links-block">
            
            <a class="modal-link text" href="tel:+79145946625">+7 914 594-66-25</a>
            <a class="modal-link text" href="tel:+74162771128">+7 (4162) 77-11-28</a>
        </div>
        <p class="text">E-mail:</p>
        <div class="modal-contacts__links-block">
            <a class="modal-link text" href="mailto:info@amur.info">info@amur.info</a>
        </div>
        
        
    </div>
    <div class="modal-contacts__block">
        <p class="modal-contacts__subtitle h3 dark-blue">Размещение рекламы:</p>
        <p class="text">Телефоны:</p>
        <div class="modal-contacts__links-block">
            
            <a class="modal-link text" href="tel:+74162222444">+7 (4162) 222-444</a>
            <a class="modal-link text" href="tel:+79145613373">+79145613373</a>
        </div>
        <p class="text">E-mail:</p>
        <div class="modal-contacts__links-block">
            <a class="modal-link text" href="mailto:reklama@amur.info">reklama@amur.info</a>
        </div>
        
        
    </div>
</div>