<footer class="footer">
    <div class="footer__inner">
        <div class="footer__1st-col">
            <a href="#" class="footer__logo">
                <img src="assets/img/light-logo.svg" alt="">
            </a>

            <div class="footer__old-rating">
                <img src="assets/img/rating.svg" alt="">
            </div>
        </div>
        <div class="footer__2st-col">
                <div class="footer__contact">Редакция ИА «Амур.инфо»:
                    <a href="tel:+79145946625">+7 914 594-66-25</a>, <a href="tel:(4162)771128">(4162) 77-11-28</a> 
                    <a href="mailto:info@amur.info" class="mail-link">info@amur.info</a></div>
                <div class="footer__contact">Размещение рекламы:
                    <a href="tel:+74162222444">(4162) 222-444</a>, <a href="tel:+79145613373">+79145613373</a> 
                    <a href="mailto:reklama@amur.info" class="mail-link">reklama@amur.info</a></div>
                
        </div>
        
        <div class="footer__3st-col">
            <p class="footer__copyright">© 2002–2022, в новостной ленте используются материалы Информационного Агентства «Амур.инфо». Все права защищены.

                Свидетельство о регистрации СМИ ИА № ФС77-79702 от 18.12.2020 г., выдано Федеральной службой по надзору за соблюдением законодательства в сфере массовых коммуникаций и охране культурного наследия.</p>
        </div>
        <div class="footer__4st-col">
            <a href="#">
                <img src="assets/img/statistics.svg" alt="">
            </a>
        </div>
    </div>
</footer>