.s-other-news{
    margin-top: 6rem;

    padding-top: 2.5rem;
    padding-bottom: 6rem;


    background-color: #F3F8FB;
    @media (max-width: 1024px){
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    @media (max-width: 480px){
        margin-top: 2.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .title-category{
        margin-bottom: 20px;
    }
}


.other-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media (max-width: 1024px){
        grid-template-columns: repeat(2, 1fr);

        .a-img-link:nth-child(n + 3){
            display: none;
        }
        
    }
    @media (max-width: 540px){
        grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 480px){
        grid-gap: 10px;
    }
}