.search-form__send{
    padding: 20px 32px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #214BCE;
    transition: 300ms;
    border: 1px solid rgba(17, 81, 211, 0.2);
    border-radius: 100px;

    &:hover{
		border-color: #214BCE;
	}

	&:active{
		background-color: rgba(17, 81, 211, 0.2);
		border-color: transparent;
	}

	&:disabled{
		color: #CBD4E0;
		border-color: #CBD4E0;
		cursor: initial;
	}

    @media (max-width: 700px){
        width: 240px;
    }
    @media (max-width: 540px){
        width: 100%;
        padding: 14px 32px;
    }
}


.search-form{
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
    
    @media (max-width: 1024px){
        margin-bottom: 20px;
    }

    @media (max-width: 540px){
        flex-direction: column;
        gap: 10px;

        margin-bottom: 10px;
    }
}

.search-form__input-wrap{
    flex-shrink: 0;

    
}

.search-form__input-wrap{
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

.search-form__input{
    background-color: transparent;
    width: 100%;
    height: 58px;
    border: 1px solid rgba(17, 81, 211, 0.2);
    border-radius: 6px;
    padding: 26px 20px 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #00123E;
}

.search-form__label{
    display: inline-block;
    position: absolute;
    z-index: -1;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #9DB1D8;
    left: 20px;
    top: 10px;
}

.search-results{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;

    
    border-top: 1px solid #EBEFF5;

    padding: 20px 0 0px;

    .advert{
        margin: 24px 0;
    }
    @media (max-width: 1024px){
        padding: 10px 0 20px;
    }
    @media (max-width: 480px){
        grid-gap: 8px;

        .advert{
            margin: 12px 0;
        }
    }
}

.block-with-aside_right.search-not-results{
    @media (max-width: 1024px){
        grid-gap: 0;

        .advert{
            margin: 0;
        }
    }
}
.search-result{
    display: grid;
    padding-bottom: 10px;
    
    grid-template-columns: 1fr ;
    
   
    border-bottom: 1px solid #EBEFF5;    
    
    
    .h3{
        color: #00123E;

        margin-top: 8px;
        transition: 300ms;
        min-width: 100%;
        &:hover{
            color: #66718B;
        }
    }
    .news-date{
       
    }
    
}

.not-results-text{
        
    color: #00123E;
    margin-bottom: 32px;

}