.p-politic__text-block{

    a{
        color: #00123E;
        transition: 300ms;

        &:hover{
            color: #214BCE;
        }
    }

    .h1{
        color: #00123E;
    }
    .h2{
        color: #00123E;
        margin-bottom: 24px;

        

        @media (max-width: 480px){
            margin-bottom: 10px;
        }
        
    }
}

.p-politic__text-block + .p-politic__text-block{
    margin-top: 40px;

    @media (min-width: 1920px){
        margin-top: 2.08vw;
    }

    @media (max-width: 700px){
        margin-top: 24px;
    }

    
}

.p-politic{
    .advert{
        margin: 40px 0;

        @media (min-width: 1920px){
            margin: 2.08vw 0;
            
        }

        @media (max-width: 700px){
            margin: 24px 0;
        }
    }
}